# ----------------------------------------------------
# 虚拟环境和构建输出
# ----------------------------------------------------

# 排除 Python 虚拟环境目录
venv/
.venv/
env/

# 排除 src/bin 目录（编译/生成的文件）
bin/

# ----------------------------------------------------
# Python 相关文件
# ----------------------------------------------------

# 编译后的字节码文件
__pycache__/
*.pyc
*.pyd
*.pyo

# 软件包
*.egg-info/
dist/
build/

# ----------------------------------------------------
# 常见 IDE 和编辑器文件
# ----------------------------------------------------

# Visual Studio Code
.vscode/

# PyCharm
.idea/